/* Write your CSS code below to make the blue items size, grow and shrink like the green ones.*/

.container {
  display: flex;
  gap: 10px;
}
.container > * {
}
.item1 {
  max-width: 200px;
  flex: 1;
}
.item2 {
  max-width: 200px;
  min-width: 200px;
  flex: 2;
}
.item3 {
  max-width: 400px;
  min-width: 400px;
  flex: 3;
}
