body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: cadetblue;
  color: firebrick;
  font-size: 16px;
}

div {
  margin-inline: auto;
  margin-top: 80px;
  font-family: "Libre Baskerville", serif;
  width: 50%;
  text-align: center;
  padding: 10px;
}

img {
  border: 5px solid white;
}

h1 {
  text-transform: uppercase;
}

p {
  padding: 0 30px;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 0.5rem;
}
