body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  max-width: 800px;
}

span {
  color: #191970;
}

.card {
  width: 45%;
  margin-left: 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  margin-right: 50px;
  margin-left: 0px;
  width: 300px;
  height: 200px;
  float: left;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
    height: 17.4833px;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .card-title {
    margin-top: 0px;
  }
  .card-text {
    margin-block: 16px;
  }
  .tile-image {
    width: 100%;
    height: 200px;
    float: none;
    object-fit: cover;
    /* margin-bottom: 10px; */
  }
  .card {
    align-content: center;
    width: 100%;
    float: none;
    margin-block: 20px;
    display: block;
    /* width: 80%; */
  }
}
